@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.img-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.img-box img{
    width: 432px;
    height: 664px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card
{
    width: 50em;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.details
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 600px;
    padding: 2em;
    padding-left: 3em;
}

.perfume
{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.description
{
    font-size: 18px;
}

.price
{
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-bottom: 10px;
}

.old-price
{
    font-size: 14px;
    margin-left: 2em;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.heading
{
    font-size: 43px;
    font-family: 'Fraunces', serif;
}

.btn
{
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 1.5em 0;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

.cart-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image
{
    margin-right: 0.6em;
}

.btn:hover
{
    background-color: hsl(158, 38%, 47%);
    cursor: pointer;
    transition: all 0.2s ease;
}

@media (max-width: 847px)
{
    body{
        height: 100%;
    }
    .card
    {
        flex-direction: column;
        width: 25em;
        height: 100%;
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .img-box
    {
        width: 100%;
        height: 50%;
        content: url('./images/image-product-mobile.jpg');
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .img-box img 
    {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .details
    {
        padding: 1em;
        width: 85%;
        height: 10%;
        font-size: 15px;
    }
    .heading{
        font-size: 35px;
        margin-bottom: 0;
    }
    .perfume
    {
        margin-bottom: 0;
    }
    .price
    {
        font-size: 35px;
    }
}

@media (max-width: 462px)
{
    .card
    {
        width: 95%;
    }
    .perfume
    {
        font-size: 12px;
    }
    .price
    {
        font-size: 25px;
    }
    .heading
    {
        font-size: 26px;
    }
    .btn
    {
        padding: 1em 0;
    }
    .old-price
    {
        margin-left: 1em;
    }
}